main{
  // background-color: #161616;
}

.works{
  padding-top: 60px;

  @media (min-width: $media_xl) {
    padding-top: 100px;
    min-height: calc(100vh - 50px);
  }

  figure{
    a{
      outline: none;
      position: relative;

      &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: .4s;
      }

      &:hover{
        &::before{
          opacity: 1;
        }

        & ~ h4, & ~ figcaption{
          opacity: 0.5;
        }
      }
    }

    h4, figcaption{
      transition: .4s;
    }
  }
}