@charset "utf-8";

$white: #fff;
$black: #000;
$color_major: #3b404b;
$color_secondary: #FFD800;

$media_sm: 576px;
$media_md: 768px;
$media_lg: 992px;
$media_xl: 1200px;


$z_loading: 500;
$z_hamburger: 200;
$z_nav: 150;
$z_header: 100;

$scale_width: 1333;
$scale_height: 750;

$title_group_width: 770;
$title_group_height: 1080;