footer.d-flex.justify-content-center.justify-content-md-between.align-items-center
  .copyright.d-none.d-md-block Copyright ©2021 Forbidden Paradise. All rights reserved.
  .contact.d-flex.align-items-center 
    i
    | info@forbiddenxparadise.com