extends _layout.pug

append head 
  link(href="css/artist.css" type="text/css" rel="stylesheet")

append main 
  main.d-flex.flex-column.justify-content-between
    .container-fluid.artist
      .d-flex.flex-column.flex-lg-row.flex-wrap 
        .cover 
          img(src="")

        .d-flex.flex-column.justify-content-between.wrap.artist-container 
          .personal-container 
            h2 ØZI
              br
              |
              span ARTIST
            article 
              p ØZI為新樂園Forbidden Paradise首席藝人，在2017年發表個人獨立製作作品《TITLE 頭銜》及《ME INSTEAD 奪愛》受到注目，同年發表作品《PARADISE ISLAND 天堂島》成為首支破百萬音樂作品並且展現了MV執導的能力，在華語樂壇中被稱呼為「核彈級新人」，同時與米奇林、剃刀蔣成立新樂園Forbidden Paradise，致力推廣台灣R&B音樂文化。
              p 2018年發行首張個人專輯《ØZI: The Album》在市場上創下佳績，並入圍了2019年第三十屆金曲獎最佳新人獎、最佳國語男歌手獎、最佳單曲製作人獎、最佳編曲人獎、最佳國語專輯獎、年度專輯獎等六項大獎，最終獲得最佳新人獎。
              p 在2020年與Transparent Arts合作，進行了海外發行計畫，與LA當地知名音樂製作人Ian Jeffery Thomas、Andrew Beckner共同製作，首先發行《LAVA!》單曲，隔年2021年正式發表海外專輯《PEDESTAL基石》，首波主打為《SLIDE》，第二波主打《LUFU》更與南韓實力派R&B歌手GSoul、美國節奏藍調歌手Arin Ray 合唱，以拓展海外市場為目標進行。
              p With his hair dyed a fiery red, like his fiery passion for his artistry, ØZI has come a long way from being the 16 year old Taiwanese-American boy making garage band beats in his 3x3 bedroom and shooting music videos on his iPhone 7. After releasing his 2018 hit song “B.O.”, which accumulated over 14 million streams on Spotify, he has continued to develop and explore new sounds. His first album, ØZI: The Album, was nominated for six GMA awards (Mandarin Music’s equivalent to the Grammys) and won him the title of ‘Best New Artist’ that year.
              p At the tender age of 20, he co-founded his own record label “Forbidden Paradise”. Now at 24, this charismatic individual has gone from being known as an associated act to becoming a well-established independent artist, music video director, and highly sought-after music producer. ØZI produced for many A-list Asian artists like Jolin Tsai and Rainie Yang. He has redefined the meaning of chart success in Taiwan with his Sophomore album, Pedestal, written fully in English. ØZI is always striving to discover a new self. This young artist is unafraid of exploring niche sounds and always introducing his fans to alternative genres. It is this authenticity to his Taiwanese heritage and his LA influences that differentiates him from other mainstream artists.

          .d-flex.flex-column.flex-md-row.justify-content-between.align-items-center.link-container 
            .order-1.order-md-0.back-to-artist 
              a.btn.btn-primary(href="artists.html")
                i 
                |  Back to Artist
            .d-flex.flex-column.flex-md-row.align-items-center.link-group 
              a(href="#") Facebook
              .d-none.d-md-block.line
              a(href="#") Instagram
              .d-none.d-md-block.line
              a(href="#") Twitter
              .d-none.d-md-block.line
              a(href="#") Youtube
					
    include _footer.pug

append script 
  script(src="js/artist.js")