extends _layout.pug

append head 
  link(href="css/artists.css" type="text/css" rel="stylesheet")

append main 
  main.d-flex.flex-column.justify-content-between
    .d-flex.flex-column.artists
      .flex-grow-1.h-100.row.no-qutters.mx-0
        .item.px-0(data-id="1") 
          a.d-block(style="background-image: url('images/artist/artist_1.jpg')" href="artist.html?id=1")
            h4 ØZI 
              br
              | 
              span ARTIST
        .item.px-0(data-id="2") 
          a.d-block(style="background-image: url('images/artist/artist_2.jpg')" href="artist.html?id=2")
            h4 鶴 THE CRANE
              br
              | 
              span ARTIST
        .item.px-0(data-id="3") 
          a.d-block(style="background-image: url('images/artist/artist_3.jpg')" href="artist.html?id=3")
            h4 米奇林 
              br
              | 
              span ARTIST
        .item.px-0(data-id="4") 
          a.d-block(style="background-image: url('images/artist/artist_4.jpg')" href="artist.html?id=4")
            h4 剃刀蔣
              br
              | 
              span ARTIST
					
    include _footer.pug

append script 
  script(src="js/artists.js")