extends _layout.pug

append head 
  link(href="css/artist.css" type="text/css" rel="stylesheet")

append main 
  main.d-flex.flex-column.justify-content-between
    .container-fluid.artist
      .d-flex.flex-column.flex-lg-row.flex-wrap 
        .cover 
          //- img(src="")

        .d-flex.flex-column.justify-content-between.wrap.artist-container 
          .personal-container 
            h2 
              br
              |
              span 
            article 
              
          .d-flex.flex-column.flex-md-row.justify-content-between.align-items-center.link-container 
            .order-1.order-md-0.back-to-artist 
              a.btn.btn-primary(href="artists.html")
                i 
                |  Back to Artists
            .d-flex.flex-column.flex-md-row.align-items-center.link-group 
              a(href="#") Facebook
              .d-none.d-md-block.line
              a(href="#") Instagram
              .d-none.d-md-block.line
              a(href="#") Twitter
              .d-none.d-md-block.line
              a(href="#") Youtube
					
    include _footer.pug

append script 
  script(src="js/artist.js")